@use 'sass:math';
@use 'sass:map';
@use 'variables' as config;

@function percentage($value) {
  @return $value * 100%;
}

@mixin media-up($breakpoint) {
  @if map.has-key(config.$breakpoints, $breakpoint) {
    @media (min-width: map.get(config.$breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin make-col($size) {
  flex: 0 0 percentage(math.div($size, config.$grid-columns));
  max-width: percentage(math.div($size, config.$grid-columns));
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(config.$grid-gutter / 2 * -1);
  margin-left: calc(config.$grid-gutter / 2 * -1);
}

.col {
  position: relative;
  width: 100%;
  padding-right: calc(config.$grid-gutter / 2);
  padding-left: calc(config.$grid-gutter / 2);
}

// Generate column classes for each breakpoint
@each $breakpoint, $width in config.$breakpoints {
  $infix: if($breakpoint == 'xs', '', '-#{$breakpoint}');

  @include media-up($breakpoint) {
    @for $i from 1 through config.$grid-columns {
      .col#{$infix}-#{$i} {
        @include make-col($i);
      }
    }
  }
}
