$theme-colors: (
  default: (
    main: light-dark(map-get($black, 50), map-get($black, 950)),
    accent: light-dark(map-get($black, 100), map-get($black, 900)),
    contrast: light-dark(map-get($black, 800), map-get($black, 200)),
    border: light-dark(map-get($black, 300), map-get($black, 800))
  )
);

$border-radius: (
  sm: 4px,
  md: 6px,
  lg: 8px,
  circle: 50%,
  pill: 9999px
);

$spacing: (
  none: 0,
  xs: 0.25rem,
  sm: 0.5rem,
  md: 1rem,
  lg: 1.5rem,
  xl: 2rem,
  xxl: 3rem
);

$flexDirection: (
  row: row,
  column: column,
  row-reverse: row-reverse,
  column-reverse: column-reverse
);

$flexWrap: (
  nowrap: nowrap,
  wrap: wrap,
  wrap-reverse: wrap-reverse
);

$justifyContent: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly
);

$alignItems: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
);

$borderWidth: (
  none: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px
);

$BoxSize: (
  none: 0,
  xs: 0.5rem,
  sm: 1rem,
  md: 1.5rem,
  lg: 2rem,
  xl: 3rem,
  xxl: 4rem,
  50: 50px,
  100: 100px,
  150: 150px,
  200: 200px,
  250: 250px,
  300: 300px,
  350: 350px,
  400: 400px,
  450: 450px,
  500: 500px,
  550: 550px,
  600: 600px,
  650: 650px,
  700: 750px,
  750: 750px,
  800: 800px,
  850: 850px,
  900: 900px,
  950: 950px,
  1000: 1000px,
  initial: initial,
  auto: auto,
  half: 50%,
  full: 100%,
  screen: 100vh
);

@each $key, $value in $BoxSize {
  .h-#{$key} {
    height: $value;
  }
  .w-#{$key} {
    width: $value;
  }
  .h-max-#{$key} {
    max-height: $value;
  }
  .w-max-#{$key} {
    max-width: $value;
  }
  .h-min-#{$key} {
    min-height: $value;
  }
  .w-min-#{$key} {
    min-width: $value;
  }
}

@each $key, $value in $theme-colors {
  $borderColor: map-get($value, border);
  $mainColor: map-get($value, main);
  $accentColor: map-get($value, accent);
  $contrastColor: map-get($value, contrast);

  .border-#{$key} {
    border: 1px solid $borderColor;
  }
  .bg-#{$key} {
    background-color: $mainColor;
  }
  .bgc-#{$key} {
    background-color: $mainColor;
    color: $contrastColor;
  }
  .text-#{$key} {
    color: $mainColor;
  }
  .contrast-#{$key} {
    color: $contrastColor;
  }
}

@each $key, $value in $borderWidth {
  .border-#{$key} {
    border-width: $value;
  }
}

@each $key, $value in $flexWrap {
  .flex-wrap-#{$key} {
    display: flex;
    flex-wrap: $value;
  }
}

@each $key, $value in $justifyContent {
  .justify-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $alignItems {
  .align-#{$key} {
    align-items: $value;
  }
}

@each $key, $value in $flexDirection {
  .flex-#{$key} {
    display: flex;
    flex-direction: $value;
  }
}

@each $key, $value in $border-radius {
  .radius-#{$key} {
    border-radius: $value;
  }
}

@each $key, $value in $spacing {
  .m-#{$key} {
    margin: $value;
  }
  .ml-#{$key} {
    margin-left: $value;
  }
  .mr-#{$key} {
    margin-right: $value;
  }
  .mt-#{$key} {
    margin-top: $value;
  }
  .mb-#{$key} {
    margin-bottom: $value;
  }
  .mx-#{$key} {
    @extend .ml-#{$key};
    @extend .mr-#{$key};
  }
  .my-#{$key} {
    @extend .mt-#{$key};
    @extend .mb-#{$key};
  }
  .p-#{$key} {
    padding: $value;
  }
  .pl-#{$key} {
    padding-left: $value;
  }
  .pr-#{$key} {
    padding-right: $value;
  }
  .pt-#{$key} {
    padding-top: $value;
  }
  .pb-#{$key} {
    padding-bottom: $value;
  }
  .px-#{$key} {
    @extend .pl-#{$key};
    @extend .pr-#{$key};
  }
  .py-#{$key} {
    @extend .pt-#{$key};
    @extend .pb-#{$key};
  }
}
